@model IEnumerable<NETboard.Models.Announcement>

@{
    ViewBag.Title = "Index";
}

<!--<h2>Index</h2>-->
<h2>  </h2>

<!--partial view with announcements will be loaded in this div-->>
<div id="announcementsDiv"></div>

<!--call javascript scripts that will place announcements in the div above-->
@section Scripts {
   <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
   <script src="~/CustomScripts/BuildAnnoucements.js"></script>
}
