@model IEnumerable<NETboard.Models.StudentNotViewed>

@{
    ViewBag.Title = "Index";
}

<h2>Students that have not viewed the announcement</h2>

<table class="table">
    @*go through all students to announcements not seen and diplay students 
        that have not seen the announcement given in view bag*@
    @foreach (var item in Model)
    {

        if (ViewBag.SendID == item.SpecificAnnouncement.Id)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecificStudent.UserName)
                </td>
            </tr>
        }

    }
    

</table>
<p>
    @Html.ActionLink("Back to List", "Index", "Announcements")
</p>

