@model IEnumerable<NETboard.Models.StudentNotViewed>

@{
    ViewBag.Title = "Index";
}

<h2>Students that have not viewed the announcement</h2>

<table class="table">
    @foreach (var item in Model)
    {

        if (ViewBag.SendID == item.SpecificAnnouncement.Id)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecificStudent.UserName)
                </td>
            </tr>
        }

    }

</table>

